@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* barra de navegacion */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

header {
  font-family: "SF Pro Text";
  font-size: 20px;
  position: fixed; 
  top: 0;
  bottom: 100; 
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(214, 81%, 21%);
}

nav {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

nav ul {
  display: flex;
  gap: 1.75rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* Link efecto de llenado*/
.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.link.hover-link:hover::before {
  animation: fill 0.6s forwards;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: hsl(40, 83%, 49%);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

main {
  height: auto;
  display: grid;
  max-width: 1800px;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #030b0d;
  font-family: "Inter", sans-serif;
  color: white;
}


/* tarjetas de modelos */


/* Tarjeta del mustang */
.card-carros {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.card-carros .image-box-carros {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-carros .image-box-carros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card-carros::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-carros:hover img {
  filter: grayscale(1) brightness(0.4);
}
.card-carros:hover::after {
  opacity: 1;
  inset: 20px;
}

.content-carros {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-carros h2,
.content-carros p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content-carros h2 {
  margin-bottom: 12px;
  scale: 0.7;
}
.content-carros p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}
.card-carros:hover .content-carros h2 {
  scale: 1;
  opacity: 1;
}
.card-carros:hover .content-carros P {
  opacity: 1;
  transform: translateY(0);
}
