@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* barra de navegacion */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

header {
  font-family: "SF Pro Text";
  font-size: 20px;
  position: fixed; 
  top: 0;
  bottom: 100; 
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(214, 81%, 21%);
}

nav {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

nav ul {
  display: flex;
  gap: 1.75rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* Link efecto de llenado*/
.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.link.hover-link:hover::before {
  animation: fill 1s forwards;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: hsl(264, 70%, 22%);
  }
}


/* tarjetas de modelos */
/* Tarjeta del mustang */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  height: auto;
  max-width: 1600px;
  background-color: #030b0d;
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(400px, 1fr);
  place-content: center;
  gap: 1rem;
  font-family: "Inter", sans-serif;
  color: white;
}

.card-mustang {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.card-mustang .image-box-mustang {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-mustang .image-box-mustang img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card-mustang::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-mustang:hover img {
  filter: grayscale(1) brightness(0.4);
}
.card-mustang:hover::after {
  opacity: 1;
  inset: 20px;
}

.content-mustang {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-mustang h2,
.content-mustang p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content-mustang h2 {
  margin-bottom: 12px;
  scale: 0.7;
}
.content-mustang p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}
.card-mustang:hover .content-mustang h2 {
  scale: 1;
  opacity: 1;
}
.card-mustang:hover .content-mustang P {
  opacity: 1;
  transform: translateY(0);
}

/* Tarjeta del Lambo */

.card-lambo {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.card-lambo .image-box-lambo {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-lambo .image-box-lambo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card-lambo::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-lambo:hover img {
  filter: grayscale(1) brightness(0.4);
}
.card-lambo:hover::after {
  opacity: 1;
  inset: 20px;
}

.content-lambo {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-lambo h2,
.content-lambo p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content-lambo h2 {
  margin-bottom: 12px;
  scale: 0.7;
}
.content-lambo p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}
.card-lambo:hover .content-lambo h2 {
  scale: 1;
  opacity: 1;
}
.card-lambo:hover .content-lambo P {
  opacity: 1;
  transform: translateY(0);
}