@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

/* barra de navegacion */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

header {
  font-family: "SF Pro Text";
  font-size: 20px;
  position: fixed; 
  top: 0;
  bottom: 100; 
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(214, 81%, 21%);
}

nav {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

nav ul {
  display: flex;
  gap: 1.75rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* Link efecto de llenado*/
.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.link.hover-link:hover::before {
  animation: fill 0.6s forwards;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: hsl(40, 83%, 49%);
  }
}

#imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  font-family: "Poppins", sans-serif;
  background-color: #14141f;
  height: 15vh;
  display: flex;
  justify-content: left;
  align-items: left;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(60, 46, 255);
  text-align: center;
  position: relative;
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}
h1:hover::before {
  color: #00bb48;
  transform: translate(12px, -12px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h1:hover::after {
  color: #ff47b5;
  transform: translate(24px, -24px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}